* {
    box-sizing: border-box;
}
body {
    font-family: 'Dosis', sans-serif;
    height: 100vh;
}


header {
    display: flex;
    align-items: center;
    height: 18%;
    max-height: 90px;
    background-image: linear-gradient(to left, #5EBD3E, #FFB900, #F78200, #E23838, #973999, #009CDF);
}
.logo {
    margin-left: 10px;
    width: calc(.18vh - 5px);
    height: 100%;
    width: 60px;
    height: 60px;
    padding: -5px;
}
.logo img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    object-position: 0, 50%;
    border-radius: 50%;
    border: 2px solid red;
}
header h1 {
    font-family: 'Righteous', cursive;
    font-size: 2rem;
    margin-left: 10px;
    flex-grow: 1;
}
header a {
    font-size: 1.2rem;
    margin: 0 10px;
}
