* {
    box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    height: 18%;
    max-height: 90px;
    background-image: linear-gradient(to left, #5EBD3E, #FFB900, #F78200, #E23838, #973999, #009CDF);
}
.logo {
    margin-left: 10px;
    width: calc(.18vh - 5px);
    height: 100%;
    width: 60px;
    height: 60px;
    padding: -5px;
}
.logo img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    object-position: 0, 50%;
    border-radius: 50%;
    border: 2px solid red;
}
header h1 {
    font-family: 'Righteous', cursive;
    font-size: 2rem;
    margin-left: 10px;
    flex-grow: 1;
}
header a {
    font-size: 1.2rem;
    margin: 0 10px;
}


/* main {
    height: 82%;
    border: 2px solid green;
} */

#options-panel {
    height: 60px;
    display: flex;
    align-items: center;
}

#options-panel select {
    margin: 0;
    margin-left: 10px;
}

#gallery {
    display: flex;
    flex-flow: column wrap;
    height: calc(82vh - 60px);
    overflow-x: scroll;
}


.card {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: " img img " " h2 p ";
    margin: 0;
    margin-top: 15px;
    margin-left: 15px;
    position: relative;
    height: 300px;
    max-width: 200px;
}
.gallery-image {
    grid-area: img;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}
.card h2 {
    grid-area: h2;
    font-size: 1.2em;
    margin-top: 10px;
    /* align-self: center; */
}
.card p {
    grid-area: p;
    margin-top: 10px;
    text-align: center;
    /* align-self: center; */
}
.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: gold;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    font-size: 1em;
    text-align: center;
}